.title{
  margin-top: 20px;
  text-align: center;
}
form{
  margin: 30px auto;
  width: 320px;
}
form label{
  width: 80px;
  text-align: right;
  display: inline-block;
}
.form-item{
  height: 24px;
  line-height: 24px;
  margin-bottom: 20px;
}
.form-item.submit{
  float: right;
}
.form-item button{
  width: 80px;
  height: 24px;
  cursor: pointer;
}
.form-item input{
  width: 220px;
  height: 100%;
  float: right;
}
.form-item.error-item{
  display: none;
}
.form-item .error{
  margin: 0;
  width: 220px;
  font-size: 14px;
  color: red;
  float: right;
}